body {
    background-color: #3a3838;
  }
  
  .container {
    margin: 0 auto;
    width: 50%;
    background-color: #F0F0F0;
    padding: 10px;
  }
  
  .header {
    background-color: #e4ae6c;
    padding: 0%;
    color: #FFFFFF;
    text-align: center;
    font-size: large;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile img {
    width: 220px;
    height: 250px;
  }
  
  .article {
    margin-top: 1%;
    margin-left: 20px;
    margin-right: 30px;
    text-align: justify;
  }
  
  .item-activity{
    padding: 10px;
}

.item-activity img, .item-activity p{
    width: 700px;
    display: block;
    margin: auto;
}

.item-activity p{
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 25px;
}

.fix-container{
    clear: both;
}